{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'c3/c3.min.css' %}">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'c3/c3.js' %}" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>


<title>Chart</title>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-6">
        <h1> Chart </h1>
        <div id='chart'>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Filter</h2>
        {% if form.non_field_errors %}
           <div class="bg-danger">
               Error {{form.errors}}
            </div>
        {% endif %}

        <form action = "" method="post">
            {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="bg-danger">
                           Error {{field.errors}}
                        </div>
                    {% endif %}
                    <label for= "{{field.id_for_label}}"> {{field.label}} </label>
                    {{ field }}
                </div>
            {% endfor %}


            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
    </div>


</div>
<div class="container-fluid">
    <h2>server output</h2>
    <pre> {{ chart_data }} </pre>
</div>

<script>
    var chart = c3.generate({
    bindto: '#chart',
    data:{
        x: 'x',
        columns:{{ chart_data|safe }}
    }
    })
</script>
</body>
</html>
